#globalbg {
    -fx-background-image: url("textures/DAWOL.png");
}

ToolBar {
    -fx-background-color: transparent;
}

Label {
    -fx-alignment: center;
    -fx-min-width: 80;
    -fx-max-height: 24;
    -fx-pref-width: 80;
    -fx-pref-height: 24;
    -fx-text-fill: #6110a2;
    -fx-background-color: #9241f3;
    -fx-background-image: url("textures/Label.png");
}

Button {
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    -fx-background-image: url("textures/gauges-and-buttons/MenuButton.png");
    -fx-background-color: transparent;
}

Button:hover{
    -fx-background-image: url("textures/gauges-and-buttons/MenuButtonHover.png");
}

Button:pressed {
    -fx-background-image: url("textures/gauges-and-buttons/MenuButtonPressed.png");
}

ToggleButton{
    -fx-background-image: url("textures/gauges-and-buttons/ToggleButtonOn.png");
}

ToggleButton:selected{
    -fx-background-image: url("textures/gauges-and-buttons/ToggleButtonOff.png");
}

ToggleButton:pressed{
    -fx-background-image: url("textures/gauges-and-buttons/ToggleButtonPressed.png");
}


#StatsPane {
    -fx-background-image: url("textures/DAWOL.png");
}

#ButtonsPane {
    -fx-background-image: url("textures/DAWOL.png");
}

#EatButton {
    -fx-background-image: url("textures/gauges-and-buttons/EatButton.png");
}

#EatButton:hover{
    -fx-background-image: url("textures/gauges-and-buttons/EatButtonHover.png");
}

#EatButton:pressed {
    -fx-background-image: url("textures/gauges-and-buttons/EatButtonPressed.png");
}

#SleepButton {
    -fx-background-image: url("textures/gauges-and-buttons/SleepButton.png");
}

#SleepButton:hover{
    -fx-background-image: url("textures/gauges-and-buttons/SleepButtonHover.png");
}

#SleepButton:pressed {
    -fx-background-image: url("textures/gauges-and-buttons/SleepButtonPressed.png");
}

#PlayButton {
    -fx-background-image: url("textures/gauges-and-buttons/ToyButton.png");
}

#PlayButton:hover{
    -fx-background-image: url("textures/gauges-and-buttons/ToyButtonHover.png");
}

#PlayButton:pressed {
    -fx-background-image: url("textures/gauges-and-buttons/ToyButtonPressed.png");
}

#WalkButton {
    -fx-background-image: url("textures/gauges-and-buttons/WalkButton.png");
}

#WalkButton:hover{
    -fx-background-image: url("textures/gauges-and-buttons/WalkButtonHover.png");
}

#WalkButton:pressed {
    -fx-background-image: url("textures/gauges-and-buttons/WalkButtonPressed.png");
}

#WashButton {
    -fx-background-image: url("textures/gauges-and-buttons/WashButton.png");
}

#WashButton:hover{
    -fx-background-image: url("textures/gauges-and-buttons/WashButtonHover.png");
}

#WashButton:pressed {
    -fx-background-image: url("textures/gauges-and-buttons/WashButtonPressed.png");
}

#UpButton {
    -fx-background-image: url("textures/gauges-and-buttons/UpArrow.png");
}

#DownButton {
    -fx-background-image: url("textures/gauges-and-buttons/DownArrow.png");
}

#LeftButton {
    -fx-background-image: url("textures/gauges-and-buttons/LeftArrow.png");
}

#RightButton {
    -fx-background-image: url("textures/gauges-and-buttons/RightArrow.png");
}

#textPiece {
    -fx-border-color: #6110a2;
    -fx-border-width: 5;
    -fx-border-radius: 10;
    -fx-text-fill: #6110a2;
    -fx-background-color: #9241f3;
}

#LifeHeartImage1 {
    -fx-image: url("textures/gauges-and-buttons/LifeFull.png");
}

#LifeHeartImage2 {
    -fx-image: url("textures/gauges-and-buttons/LifeFull.png");
}

#LifeHeartImage3 {
    -fx-image: url("textures/gauges-and-buttons/LifeFull.png");
}

#LifeHeartImage4 {
    -fx-image: url("textures/gauges-and-buttons/LifeFull.png");
}

#LifeHeartImage5 {
    -fx-image: url("textures/gauges-and-buttons/LifeFull.png");
}

#HappiHeartImage1 {
    -fx-image: url("textures/gauges-and-buttons/HappyFull.png");
}

#HappiHeartImage2 {
    -fx-image: url("textures/gauges-and-buttons/HappyFull.png");
}

#HappiHeartImage3 {
    -fx-image: url("textures/gauges-and-buttons/HappyFull.png");
}

#HappiHeartImage4 {
    -fx-image: url("textures/gauges-and-buttons/HappyFull.png");
}

#HappiHeartImage5 {
    -fx-image: url("textures/gauges-and-buttons/HappyFull.png");
}

#backButton {
    -fx-background-image: url("textures/gauges-and-buttons/ReturnButton.png");
}

#backButton:hover{
    -fx-background-image: url("textures/gauges-and-buttons/ReturnButtonHover.png");
}

#backButton:pressed {
    -fx-background-image: url("textures/gauges-and-buttons/ReturnButtonPressed.png");
}

#PauseButton {
    -fx-background-image: url("textures/gauges-and-buttons/PauseButton.png");
}

#PauseButton:hover{
    -fx-background-image: url("textures/gauges-and-buttons/PauseButtonHover.png");
}

#PauseButton:pressed {
    -fx-background-image: url("textures/gauges-and-buttons/PauseButtonPressed.png");
}

#OptionsPane {
    -fx-background-image: url("textures/OptionsBg.png");
}

.TitleLabel {
    -fx-min-width: 224;
    -fx-min-height: 48;
    -fx-pref-width: 224;
    -fx-pref-height: 48;
    -fx-background-image: url("textures/TitleFrame.png");
    -fx-background-color: transparent;
}

